<ion-view view-title="Benefits">
    <header-bar texta="header.texta" textb="header.textb" img="header.img" subicon="header.subicon"></header-bar>
    <ion-content id="Benefits" class="has-header" padding="true">
        <ion-list class="item-text-wrap">
            <div class="item item-divider">
                Insurance Benefits
            </div>
            <ion-item ng-repeat="item in listDataUnOptional" ng-click="showSubList(item.Title)">
                {{item.Title}}
            </ion-item>
            <div class="item item-divider">
                Optional Benefits
            </div>
            <ion-item ng-repeat="item in listDataOptional" ng-click="showSubList(item.Title)">
                {{item.Title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
