<ion-view view-title="BenefitsSubList">
    <header-bar texta="header.texta" textb="header.textb" img="header.img" subicon="header.subicon"></header-bar>
    <ion-content id="BenefitsSubList" class="has-header" padding="true">
        <ion-list class="item-text-wrap">
            <div>
                <ion-item ng-repeat="item in listData" ng-click="">
                    <div>{{item.Title}}</div>
                    <div class="badge badge-assertive" style="    right: 0px; position: relative;margin-bottom: 10px;">
                        <p style="color: white; margin-left: auto; margin-right: auto;">{{item.Info}}</p>
                    </div>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
