<ion-view view-title="Feedback">
    <ion-content id="Feedback">
        <div class="bar bar-header bar-balanced">
            <h1 class="title">Send Feedback Email</h1>
        </div>
        <br /><br /><br />
        <div>
            <label class="item item-input">
                <textarea type="text" rows="5" ng-model="emailText[0]" placeholder="Enter your feedback"></textarea>
            </label>
            <button class="button button-block button-balanced" ng-click="sendEmail()">Send Email</button>
        </div>




    </ion-content>
</ion-view>