<ion-view view-title="Feedback">
    <header-bar texta="header.texta" textb="header.textb" img="header.img" subicon="header.subicon"></header-bar>
    <ion-content id="Feedback" class="has-header" padding="true">
        <div>
            <label class="item item-input">
                <textarea type="text" ng-model="emailText[0].name" placeholder="Your Name"></textarea>
            </label>
            <label class="item item-input">
                <textarea type="text" rows="5" ng-model="emailText[0].body" placeholder="Enter your feedback"></textarea>
            </label>
            <button class="button button-block button-balanced" ng-click="sendEmail()" style="background-color:rgba(233,70,40,1); border-color: rgba(233,70,40,1);">Send Email</button>
        </div>
    </ion-content>
</ion-view>
