<ion-view view-title="Feedback">
    <div class="bar bar-header bar-balanced">
        <div class="buttons">
            <button class="button button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        </div>
        <h1 class="title">Feedback</h1>
    </div>
    <ion-content id="Feedback" class="has-header" padding="true">
        <div>
            <label class="item item-input">
                <textarea type="text" ng-model="emailText[0].name" placeholder="Your Name"></textarea>
            </label>
            <label class="item item-input">
                <textarea type="text" rows="5" ng-model="emailText[0].body" placeholder="Enter your feedback"></textarea>
            </label>
            
            <button class="button button-block button-balanced" ng-click="sendEmail()">Send Email</button>
        </div>




    </ion-content>
</ion-view>