<div class="bar bar-header bar-light" style="border-bottom-style: solid;border-bottom-width: thick;">
    <div class="{{subicon == true ? 'sub-icon-img' : 'home-icon-img' }}">
        <img ng-src="{{img}}" style="width:100%; height:100%; margin-left:10%;">
    </div>
    <div ng-hide="true" class="sub-icon-img-overlay">
    </div>
    <div style="margin-top:25px;  left: 35%;
    position: absolute;" class="{{subicon == true ? 'ft-26' : 'ft-36'}}"><span style="color: rgba(246,172,39,1); left:5px;">{{texta}}</span><span style="color: rgba(233,70,40,1);">{{textb}}</span></div>
</div>
