<ion-view view-title="Home">
    <ion-content id="back1">
    <img src="engro-foods-logo.png">
    
    <br/>
		<br/>
		
      
		<h3 class="text-center" style="color:red">Health Insurance</h3>
 
        <br/>
       
		<h2 class="text-center" style="color:red">Select Option</h2>
		
		 
	
        <button class="button button-block button-assertive" ng-show="{{$parent.status}}" ng-click="notify()">
           Find Near By Hospital
        </button>
		 <button class="button button-block button-assertive" ng-click="profile()">
            Profile
        </button>
		 <button class="button button-block button-assertive" ng-click="audi()">
             Emergency Ping 
        </button>
		 <button class="button button-block button-assertive" ng-click="civil()">
           Settings 
        </button>
 
    </ion-content>
</ion-view>