<ion-view>
    <header-bar texta="header.texta" textb="header.textb" img="header.img"></header-bar>
    <ion-content class="has-header">
        <div style="position:relative; padding: 40px 40px 40px 40px;">
            <div style="width: 260px; margin-left:auto; margin-right:auto;">
                <div ng-click="ping()" style="width:120px;height:110px;">
                    <img src="img/icons/engsure app icon for PNG-09.png" class="eng-img">
                    <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">emergency ping</p>
                </div>
                <div ng-click="contact()" style="width:120px;height:110px;margin-top:-110px; margin-left:140px;">
                    <img src="img/icons/engsure app icon for PNG-10.png" class="eng-img">
                    <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">emergency contacts</p>
                </div>
            </div>
            <div style="width: 260px; margin-top:40px;  margin-left:auto; margin-right:auto;">
                <div ng-click="form()" style="width:120px;height:110px;">
                    <img src="img/icons/engsure app icon for PNG-11.png" class="eng-img">
                    <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">download form</p>
                </div>
                <div ng-click="hospital()" style="width:120px;height:110px;margin-top:-110px; margin-left:140px;">
                    <img src="img/icons/engsure app icon for PNG-12.png" class="eng-img">
                    <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">hospital list</p>
                </div>
            </div>
            <div style="width: 260px; margin-top:40px;  margin-left:auto; margin-right:auto;">
                <div ng-click="insurance_benefits()" style="width:120px;height:110px;">
                    <img src="img/icons/engsure app icon for PNG-16.png" class="eng-img">
                    <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">insurance category</p>
                </div>
                <div ng-click="feedback()" style="width:120px;height:110px;margin-top:-110px; margin-left:140px;">
                    <img src="img/icons/engsure app icon for PNG-14.png" class="eng-img">
                    <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">feedback</p>
                </div>
            </div>
            <!--             <div ng-click="form()">
                <img src="img/icons/engsure app icon for PNG-03.png" class="eng-img">
                <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">download form</p>
            </div>
            <div ng-click="hospital()">
                <img src="img/icons/engsure app icon for PNG-04.png" class="eng-img">
            </div>
            <div ng-click="insurance_benefits()">
                <img src="img/icons/engsure app icon for PNG-08.png" class="eng-img">
            </div>
            <div ng-click="feedback()">
                <img src="img/icons/engsure app icon for PNG-06.png" class="eng-img">
            </div>
            <div ng-hide="true">
                <img src="img/icons/engsure app icon for PNG-07.png" class="eng-img">
            </div>
            <div ng-hide="true">
                <img src="img/icons/engsure app icon for PNG-08.png" class="eng-img">
            </div>
            <div style="position:absolute; top:98%; height:2%; width:100%; background-color: rgba(246,172,39,1); left:0px">
            </div> -->
        </div>

        <div style="height:10px; margin-bottom:0px; background-color: rgba(246,172,39,1);">
        </div>
    </ion-content>
</ion-view>
