<ion-view>
    <header-bar texta="header.texta" textb="header.textb" img="header.img" ></header-bar>

    <ion-content class="has-header">
        <div style="width:100%; height: 100%; position:relative; padding: 40px 40px 20px 40px;">
            <div  ng-click="ping()" class="icon-img" style="left: 15%;">
                <img src="img/icons/engsure app icon for PNG-01.png" class="eng-img">
            </div>
            <div  ng-click="contact()" class="icon-img" style=" left: 55%;">
                <img src="img/icons/engsure app icon for PNG-02.png" class="eng-img">
            </div>
            <div ng-click="form()" class="icon-img" style="left: 15%; top: 33%; height:17%">
                <img src="img/icons/engsure app icon for PNG-03.png" class="eng-img">
                <p style="    font-size: 12px;
    text-align: center;
    margin-top: -3px;
    color: rgba(152,152,156,1);">download form</p>
            </div>
            <div ng-click="hospital()" class="icon-img" style=" left: 55%;top: 33%;">
                <img src="img/icons/engsure app icon for PNG-04.png" class="eng-img">
            </div>
            <div ng-click="insurance_benefits()" class="icon-img" style="left: 15%; top: 60%;">
                <img src="img/icons/engsure app icon for PNG-08.png" class="eng-img">
            </div>
            <div ng-click="feedback()" class="icon-img" style=" left: 55%;top: 60%;">
                <img src="img/icons/engsure app icon for PNG-06.png" class="eng-img">
            </div>
            <div ng-hide="true"  class="icon-img" style=" left: 55%;top: 74%;">
                <img src="img/icons/engsure app icon for PNG-07.png" class="eng-img">
            </div>
            <div ng-hide="true" class="icon-img" style="left: 15%; top: 74%;">
                <img src="img/icons/engsure app icon for PNG-08.png" class="eng-img">
            </div>
            <div style="position:absolute; top:98%; height:2%; width:100%; background-color: rgba(246,172,39,1); left:0px">
            </div>
        </div>
    </ion-content>
</ion-view>
