<ion-view view-title="HospitalList">
    <div class="bar bar-header bar-balanced">
        <div class="buttons">
            <button class="button button-clear ion-close" ng-click="cancel()"></button>
        </div>
        <h1 class="title">Call Numbers</h1>
    </div>
    <ion-content class="has-header" padding="true">
        <div class="item item-divider">
            Click on Number to Dial!
        </div>
        <ion-item ng-repeat="x in numbers" ng-click="dial($index)">
            <div>{{x}}</div>
        </ion-item>
    </ion-content>
</ion-view>
