<ion-view view-title="Profile">
    <div class="bar bar-header bar-balanced">
        <div class="buttons">
            <button class="button button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
        </div>
        <h1 class="title">SMS To Selected Numbers</h1>
    </div>
    <ion-content id="Profile" padding="true">
        <br />
        <br />
        <br />
        <div>
            <label class="item item-input">
                <textarea type="text" ng-model="listdata[0].name" placeholder="Name"></textarea>
            </label>
            <label class="item item-input">
                <textarea type="text" ng-model="listdata[0].pno" placeholder="PNo"></textarea>
            </label>
            <label class="item item-input">
                <textarea type="text" ng-model="listdata[0].location" placeholder="Your Location"></textarea>
            </label>
            <label class="item item-input">
                <textarea type="text" ng-model="listdata[0].msg" placeholder="Your Emergency Message"></textarea>
            </label>
            <div class="item item-divider" style="margin-top:10px;">
                Select numbers to send SMS
            </div>
            <ion-item ng-repeat="item in contacts" class="item-text-wrap">
                <ion-checkbox ng-model="item.enabled">{{item.name}}</ion-checkbox>
                <div class="badge badge-assertive" style="right: 0px; position: relative;margin-bottom: 10px;"><p style="color: white; margin-left: auto; margin-right: auto;">{{item.location}}<span ng-if="item.team">({{item.team}})</span></p></div>
            </ion-item>
            <button class="button button-block button-balanced" ng-click="sendSMS()">Send SMS</button>
        </div>
    </ion-content>
</ion-view>
