<ion-view view-title="Profile">
    <ion-content id="Profile">
        <div class="bar bar-header bar-balanced">
            <h1 class="title">SMS To Selected Numbers</h1>
        </div>
        <br /><br /><br />
        <div>
            <label class="item item-input">
                <textarea type="text" ng-model="listdata[0]" placeholder="Type SMS to send All"></textarea>
            </label>
            <button class="button button-block button-balanced" ng-click="sendSMS()">Send SMS</button>
        </div>




    </ion-content>
</ion-view>